.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 100%;
  background-color: #f7e296;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__list {
    padding: 0;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s ease-in;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #000;
    }
  }
}
